.form-container {
    background-color: gold;
    height: 75vh;
    border-radius: 7px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 25px;

    .header { 
        color:  rgb(12, 85, 12);
    }

    .first-row {
        width: 80%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:10px;
        transform: translateX(100px);

        input {
            width: 23%;
            
        }

        select {
            width: 23%;
        }
    }
    
    .second-row {
        margin-top: 20px;
        transform: translateX(110px);
        input { 
            width: 59.5%;
            height: 20vh;
        }
    }

    .submit{
        margin: 30px;
        transform: translateX(500px);
    }
}