.View-Container { 
    background-color: gold;
    height: 75vh;
    border-radius: 7px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 25px;


    .Work-Order {
        margin: 50px;
        margin-top: 20px;
        color:  rgb(12, 85, 12);
        // transform: translateX(300px);

        h1 { 
            margin: 20px;
        }

    }
    .buttons { 
        width: 10%;
        margin: 30px;

        display: flex;
        justify-content: space-between;
        align-items:center;

        .button a {
            text-decoration: none;
            color: black
        }
    }

    .button button {
        border-radius: 5px;
        background-color: white;
        text-decoration: none;
    }

    .button a {
        text-decoration: none;
    }
}