@media (max-width:615px) {

    .container{ 
        height: 100vh;
    }

    .form-container { 
        height: 75vh;
        flex-direction: column;

        .first-row {
            flex-direction: column;
            margin-left: 7px;

            input {
                width: 65%;
                margin-bottom: 24px;
            }
            select {
                width: 67%;
                margin-bottom: 30px;
            }
        }

        .second-row {
            flex-direction: column;
            justify-content: center;
            margin-top: auto;
            input { 
                width: 54.5%;
                height: 10vh;
            }
        }

        .submit {
            margin: 20px;

        }
    }

    .View-Container{
        height: 75vh;

        .Work-Order{
            width: initial;
        }
    }

    .Work-Order{
        height: 100px;
    }

    .dataObject {
        flex-direction: column;
        height: 50px;
        margin-top: 10px;
        padding-bottom: 50px;

        .title{
            flex-direction: row;
            width: initial;
        }

        .issuedTo{
            flex-direction: row;
            width: initial;
        }

        .issueDate{
            flex-direction: row;
            width: initial;
        }

        .button {
            width: 20%;
            // transform: translateY(-20px);
            margin-top: 10px;
        }
    }

    .update-form-container{
        height: 75vh;
        flex-direction: column;

        .first-row {
            flex-direction: column;
            margin-left: 7px;

            input {
                width: 65%;
                margin-bottom: 14px;
            }
            select {
                width: 67%;
                margin-bottom: 10px;
            }
        }

        .second-row {
            flex-direction: column;
            justify-content: center;
            margin-top: auto;
            input { 
                width: 54.5%;
                height: 10vh;
            }
        }

        .buttons { 
            width: 10%;
        }
    }

}